/* *{padding:0;margin:0;} */

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: fixed;
  background-color: #ffffff;
  /* margin: 15% auto; 15% from the top and centered */
  height: 350px;
  /* width noet working check why */
  width: 200px; 
  left: 40%;
  top: 40%;
  /* padding: 20px; */
  border: 1px solid #888;
  border-radius: 25px;
  width: 50%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.my-float{
	margin-top:22px;
}


.input-bar{
  height: 50px;
  width:99%;
  border-bottom-left-radius:25px ;
  border-bottom-right-radius:25px ;
  /* position:absolute; */
  bottom: 0;
  left:0;
  font-size: larger;
}

.lbubble{
  margin: 5px;
  padding: 10px;
  display: block;
  position: relative;
	width: 50%;
  left:45%;
	height: auto;
  border-radius: 10px;
  background-color: #1982FC;
}

.rbubble{
  margin: 5px;
  padding: 10px;
  display: block;
  position: relative;
	width: 50%;
	height: auto;
	background-color: #e4e9f0;
  border-radius: 10px;
}

.scrollGparent,.scrollParent {
  float:right;
}

.scrollable{
  height:400px;
  overflow:auto;
}

.chatTime{
  font-size: xx-small;
  color: gray;
  position: absolute;
  right: 1%;
  bottom : 2%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.opDiv{
  /* padding:100px; */
  margin-top: 5%;
  margin-left: 20%;
  height: 55%;
  width: 60%;
  background-color:white;
}

.opContent{
  width: auto;
  height: 455px;
}